* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  padding: 40px;
  background-color: #151515;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: #f3f3f3;
  text-align: center;
  font-size: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1024px;
  margin: 0 auto;
}

.card {
  border: 1px solid #4b5362;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #31363f;
  min-height: 100px;
}

button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  width: 100%;
  text-align: right;
  border-radius: 5px;
  padding: 5px 10px;
  color: #f3f3f3;
  cursor: pointer;
}