* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  padding: 40px;
  background-color: #151515;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}